html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  * {
    /* cursor: none; */
  }
}

.plyr {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  --plyr-color-main: #b928e5;
  border-radius: 0.25rem;
}

.plyr__video {
  background-color: white;
}

.plyr__controls {
  display: none;
}

.plyr__video-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.25rem;
}

.plyr .plyr__poster {
  background-size: cover;
  border-radius: 0.25rem;
}

.wall--card {
  filter: drop-shadow(0px 20px 30px #00000005);
}

.wall--card:hover {
  filter: drop-shadow(0px 20px 30px #0000001a);
}

/* play button on hero */
@keyframes loader15 {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(2.2);
    opacity: 0;
  }
}

/* heart */
@keyframes pulsate {
  0%,
  to {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

/* square */
@keyframes loader14 {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }
  80% {
    transform: scale(1.2);
    opacity: 0;
  }
  to {
    transform: scale(2.2);
    opacity: 0;
  }
}

/* mouse */
@keyframes mouse {
  0% {
    bottom: 8rem;
  }
  80% {
    bottom: 3rem;
  }
  to {
    bottom: 1rem;
  }
}

/* orbit */
@keyframes loader5 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
